.home {
	display: flex;
	align-items: center;
}

.home_message {
	position: fixed;
	top: 180px;
	right: 20px;
	background-color: #0f8a50;
	padding: 10px;
	height: 25px;
	border-radius: 30px;
	cursor: pointer;
}

.home_message > a {
	position: relative;
}

.home_messageIcon {
	color: white;
}

.home_messageCount {
	background-color: #d62506;
	border-radius: 99px;
	padding: 1px;
	color: white;
	position: absolute;
	font-size: 10px;
	font-weight: 500;
	margin-left: 10px;
	margin-right: 10px;
	top: -15px;
	left: 5px;
}
